[defaults]
inventory = ./inventory.yaml
roles_path = ./roles
host_key_checking = False
gathering = explicit
retry_files_enabled = False

[persistent_connection]
command_timeout = 60
connect_timeout = 60
