[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
gathering = explicit
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = yaml
roles_path = roles

[persistent_connection]
command_timeout = 60
connect_timeout = 60
